include _head.jade

.hero
  .hero__main
    h1.hero__title="Combustion"
    h2.hero__sub="A Sleek, Modern Client for Transmission"
    a.button(href="https://github.com/Secretmapper/combustion")
      ="Get it"
    div
      img.hero__image(src="/mobile.png")

section.info_container
  section.info
    div.info__blurb
      h1.info__title More than a dash of paint
      h2.info__sub Combustion's UI is bold, beautiful and intentional. Based on Google's Material Design Specification, every interaction is packed with subtle and clear feedback.
    div.info__gutter
    div.info__image_container
      img.info__image(src="/animation.gif")
  section.info
    div.info__blurb
      h1.info__title Classic client, from the ground up
      h2.info__sub Combustion is a complete reimplementation of transmission's web client, taking advantage of new advances in the web to provide the best experience.
    div.info__gutter
    div.info__image_container
      img.info__image(src="/notif.jpg")
  section.info
    div.info__blurb
      h1.info__title Unified interface for all devices
      h2.info__sub On your main workstation or on the go, Combustion manages to look good on all devices. Access it however you want, whether it be as a desktop app, a website, or as something right in your phone's homescreen. Combustion gives you the option.
    div.info__gutter
    div.info__image_container
      img.info__image(src="/osx.png")

footer
  div.main Combustion, Made with
    = " "
    span(style="color:#f77380")<3
    = " "
    | by
    = " "
    a(href="//arianv.com/")="@secretmapper"
  div.thanks Special Thanks to
    a(href="https://github.com/fcsonline")=" @fcsonline "
    | and
    a(href="https://github.com/edulan")=" @edulan "
